<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>effect_text_zimo01_1.png</key>
			<dict>
				<key>width</key>
				<integer>480</integer>
				<key>height</key>
				<integer>354</integer>
				<key>originalWidth</key>
				<integer>600</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>effect_text_zimo01_2.png</key>
			<dict>
				<key>width</key>
				<integer>206</integer>
				<key>height</key>
				<integer>135</integer>
				<key>originalWidth</key>
				<integer>600</integer>
				<key>originalHeight</key>
				<integer>600</integer>
				<key>x</key>
				<integer>482</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>effect_text_zimo01_3.png</key>
			<dict>
				<key>width</key>
				<integer>208</integer>
				<key>height</key>
				<integer>238</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>690</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>10</real>
				<key>offsetY</key>
				<real>-9</real>
			</dict>
			<key>xulie_00002_Alpha_00000.png</key>
			<dict>
				<key>width</key>
				<integer>110</integer>
				<key>height</key>
				<integer>114</integer>
				<key>originalWidth</key>
				<integer>205</integer>
				<key>originalHeight</key>
				<integer>205</integer>
				<key>x</key>
				<integer>900</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>xulie_00002_Alpha_00001.png</key>
			<dict>
				<key>width</key>
				<integer>117</integer>
				<key>height</key>
				<integer>119</integer>
				<key>originalWidth</key>
				<integer>205</integer>
				<key>originalHeight</key>
				<integer>205</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>356</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>xulie_00002_Alpha_00002.png</key>
			<dict>
				<key>width</key>
				<integer>122</integer>
				<key>height</key>
				<integer>123</integer>
				<key>originalWidth</key>
				<integer>204</integer>
				<key>originalHeight</key>
				<integer>205</integer>
				<key>x</key>
				<integer>119</integer>
				<key>y</key>
				<integer>356</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>xulie_00002_Alpha_00003.png</key>
			<dict>
				<key>width</key>
				<integer>128</integer>
				<key>height</key>
				<integer>128</integer>
				<key>originalWidth</key>
				<integer>205</integer>
				<key>originalHeight</key>
				<integer>205</integer>
				<key>x</key>
				<integer>243</integer>
				<key>y</key>
				<integer>356</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>xulie_00002_Alpha_00004.png</key>
			<dict>
				<key>width</key>
				<integer>133</integer>
				<key>height</key>
				<integer>132</integer>
				<key>originalWidth</key>
				<integer>205</integer>
				<key>originalHeight</key>
				<integer>205</integer>
				<key>x</key>
				<integer>373</integer>
				<key>y</key>
				<integer>356</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>xulie_00002_Alpha_00005.png</key>
			<dict>
				<key>width</key>
				<integer>136</integer>
				<key>height</key>
				<integer>134</integer>
				<key>originalWidth</key>
				<integer>205</integer>
				<key>originalHeight</key>
				<integer>204</integer>
				<key>x</key>
				<integer>508</integer>
				<key>y</key>
				<integer>356</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>xulie_00002_Alpha_00006.png</key>
			<dict>
				<key>width</key>
				<integer>142</integer>
				<key>height</key>
				<integer>137</integer>
				<key>originalWidth</key>
				<integer>205</integer>
				<key>originalHeight</key>
				<integer>204</integer>
				<key>x</key>
				<integer>646</integer>
				<key>y</key>
				<integer>356</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>xulie_00002_Alpha_00007.png</key>
			<dict>
				<key>width</key>
				<integer>146</integer>
				<key>height</key>
				<integer>139</integer>
				<key>originalWidth</key>
				<integer>204</integer>
				<key>originalHeight</key>
				<integer>204</integer>
				<key>x</key>
				<integer>790</integer>
				<key>y</key>
				<integer>356</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>xulie_00002_Alpha_00008.png</key>
			<dict>
				<key>width</key>
				<integer>150</integer>
				<key>height</key>
				<integer>142</integer>
				<key>originalWidth</key>
				<integer>205</integer>
				<key>originalHeight</key>
				<integer>204</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>497</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
			<key>xulie_00002_Alpha_00009.png</key>
			<dict>
				<key>width</key>
				<integer>154</integer>
				<key>height</key>
				<integer>144</integer>
				<key>originalWidth</key>
				<integer>205</integer>
				<key>originalHeight</key>
				<integer>204</integer>
				<key>x</key>
				<integer>152</integer>
				<key>y</key>
				<integer>497</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
			<key>xulie_00002_Alpha_00010.png</key>
			<dict>
				<key>width</key>
				<integer>159</integer>
				<key>height</key>
				<integer>147</integer>
				<key>originalWidth</key>
				<integer>205</integer>
				<key>originalHeight</key>
				<integer>205</integer>
				<key>x</key>
				<integer>308</integer>
				<key>y</key>
				<integer>497</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
			<key>xulie_00002_Alpha_00011.png</key>
			<dict>
				<key>width</key>
				<integer>162</integer>
				<key>height</key>
				<integer>149</integer>
				<key>originalWidth</key>
				<integer>205</integer>
				<key>originalHeight</key>
				<integer>205</integer>
				<key>x</key>
				<integer>469</integer>
				<key>y</key>
				<integer>497</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
			<key>xulie_00002_Alpha_00012.png</key>
			<dict>
				<key>width</key>
				<integer>167</integer>
				<key>height</key>
				<integer>150</integer>
				<key>originalWidth</key>
				<integer>204</integer>
				<key>originalHeight</key>
				<integer>205</integer>
				<key>x</key>
				<integer>633</integer>
				<key>y</key>
				<integer>497</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>xulie_00002_Alpha_00013.png</key>
			<dict>
				<key>width</key>
				<integer>171</integer>
				<key>height</key>
				<integer>152</integer>
				<key>originalWidth</key>
				<integer>205</integer>
				<key>originalHeight</key>
				<integer>205</integer>
				<key>x</key>
				<integer>802</integer>
				<key>y</key>
				<integer>497</integer>
				<key>offsetX</key>
				<real>4</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>xulie_00002_Alpha_00014.png</key>
			<dict>
				<key>width</key>
				<integer>174</integer>
				<key>height</key>
				<integer>154</integer>
				<key>originalWidth</key>
				<integer>205</integer>
				<key>originalHeight</key>
				<integer>205</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>651</integer>
				<key>offsetX</key>
				<real>4.5</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>xulie_00002_Alpha_00015.png</key>
			<dict>
				<key>width</key>
				<integer>178</integer>
				<key>height</key>
				<integer>155</integer>
				<key>originalWidth</key>
				<integer>205</integer>
				<key>originalHeight</key>
				<integer>205</integer>
				<key>x</key>
				<integer>176</integer>
				<key>y</key>
				<integer>651</integer>
				<key>offsetX</key>
				<real>4.5</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
			<key>xulie_00002_Alpha_00016.png</key>
			<dict>
				<key>width</key>
				<integer>181</integer>
				<key>height</key>
				<integer>157</integer>
				<key>originalWidth</key>
				<integer>205</integer>
				<key>originalHeight</key>
				<integer>205</integer>
				<key>x</key>
				<integer>356</integer>
				<key>y</key>
				<integer>651</integer>
				<key>offsetX</key>
				<real>4</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
			<key>xulie_00002_Alpha_00017.png</key>
			<dict>
				<key>width</key>
				<integer>183</integer>
				<key>height</key>
				<integer>158</integer>
				<key>originalWidth</key>
				<integer>204</integer>
				<key>originalHeight</key>
				<integer>205</integer>
				<key>x</key>
				<integer>539</integer>
				<key>y</key>
				<integer>651</integer>
				<key>offsetX</key>
				<real>4.5</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>xulie_00002_Alpha_00018.png</key>
			<dict>
				<key>width</key>
				<integer>187</integer>
				<key>height</key>
				<integer>160</integer>
				<key>originalWidth</key>
				<integer>205</integer>
				<key>originalHeight</key>
				<integer>205</integer>
				<key>x</key>
				<integer>724</integer>
				<key>y</key>
				<integer>651</integer>
				<key>offsetX</key>
				<real>5</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>xulie_00002_Alpha_00019.png</key>
			<dict>
				<key>width</key>
				<integer>192</integer>
				<key>height</key>
				<integer>163</integer>
				<key>originalWidth</key>
				<integer>205</integer>
				<key>originalHeight</key>
				<integer>205</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>813</integer>
				<key>offsetX</key>
				<real>5.5</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
			<key>effect_text_zimo01_4.png</key>
			<dict>
				<key>width</key>
				<integer>127</integer>
				<key>height</key>
				<integer>64</integer>
				<key>originalWidth</key>
				<integer>128</integer>
				<key>originalHeight</key>
				<integer>64</integer>
				<key>x</key>
				<integer>194</integer>
				<key>y</key>
				<integer>813</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>effect_text_zimo010.png</string>
			<key>realTextureFileName</key>
			<string>effect_text_zimo010.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>