<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>GameRoomView/mahjong/CardLabelType_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,272},{89,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,128}</string>
			</dict>
			<key>GameRoomView/mahjong/CardLabelType_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,404},{89,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,128}</string>
			</dict>
			<key>GameRoomView/mahjong/CardLabelType_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{192,134},{89,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,102}</string>
			</dict>
			<key>GameRoomView/mahjong/CardLabelType_2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,2},{89,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,102}</string>
			</dict>
			<key>GameRoomView/mahjong/CardLabelType_3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,536},{89,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,128}</string>
			</dict>
			<key>GameRoomView/mahjong/CardLabelType_3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,668},{89,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,128}</string>
			</dict>
			<key>GameRoomView/mahjong/CardLabelType_4_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{188,388},{89,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,102}</string>
			</dict>
			<key>GameRoomView/mahjong/CardLabelType_4_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{95,654},{89,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,102}</string>
			</dict>
			<key>GameRoomView/mahjong/lay_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,139},{93,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,129}</string>
			</dict>
			<key>GameRoomView/mahjong/lay_face.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,800},{89,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,128}</string>
			</dict>
			<key>GameRoomView/mahjong/lay_face_light.png</key>
			<dict>
				<key>frame</key>
				<string>{{95,272},{89,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,128}</string>
			</dict>
			<key>GameRoomView/mahjong/lay_face_mark.png</key>
			<dict>
				<key>frame</key>
				<string>{{99,139},{89,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,128}</string>
			</dict>
			<key>GameRoomView/mahjong/poker_face_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{190,494},{70,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,93}</string>
			</dict>
			<key>GameRoomView/mahjong/poker_face_100.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,494},{70,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,93}</string>
			</dict>
			<key>GameRoomView/mahjong/poker_face_101.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,388},{70,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,93}</string>
			</dict>
			<key>GameRoomView/mahjong/poker_face_102.png</key>
			<dict>
				<key>frame</key>
				<string>{{283,240},{70,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,93}</string>
			</dict>
			<key>GameRoomView/mahjong/poker_face_103.png</key>
			<dict>
				<key>frame</key>
				<string>{{285,108},{70,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,93}</string>
			</dict>
			<key>GameRoomView/mahjong/poker_face_104.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,2},{70,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,93}</string>
			</dict>
			<key>GameRoomView/mahjong/poker_face_105.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,591},{70,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,93}</string>
			</dict>
			<key>GameRoomView/mahjong/poker_face_106.png</key>
			<dict>
				<key>frame</key>
				<string>{{338,485},{70,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,93}</string>
			</dict>
			<key>GameRoomView/mahjong/poker_face_107.png</key>
			<dict>
				<key>frame</key>
				<string>{{355,337},{70,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,93}</string>
			</dict>
			<key>GameRoomView/mahjong/poker_face_108.png</key>
			<dict>
				<key>frame</key>
				<string>{{357,205},{70,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,93}</string>
			</dict>
			<key>GameRoomView/mahjong/poker_face_109.png</key>
			<dict>
				<key>frame</key>
				<string>{{359,99},{70,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,93}</string>
			</dict>
			<key>GameRoomView/mahjong/poker_face_200.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,2},{70,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,93}</string>
			</dict>
			<key>GameRoomView/mahjong/poker_face_201.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,688},{70,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,93}</string>
			</dict>
			<key>GameRoomView/mahjong/poker_face_202.png</key>
			<dict>
				<key>frame</key>
				<string>{{327,785},{70,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,93}</string>
			</dict>
			<key>GameRoomView/mahjong/poker_face_203.png</key>
			<dict>
				<key>frame</key>
				<string>{{327,882},{70,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,93}</string>
			</dict>
			<key>GameRoomView/mahjong/poker_face_204.png</key>
			<dict>
				<key>frame</key>
				<string>{{355,582},{70,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,93}</string>
			</dict>
			<key>GameRoomView/mahjong/poker_face_205.png</key>
			<dict>
				<key>frame</key>
				<string>{{355,679},{70,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,93}</string>
			</dict>
			<key>GameRoomView/mahjong/poker_face_206.png</key>
			<dict>
				<key>frame</key>
				<string>{{412,434},{70,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,93}</string>
			</dict>
			<key>GameRoomView/mahjong/poker_face_207.png</key>
			<dict>
				<key>frame</key>
				<string>{{429,302},{70,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,93}</string>
			</dict>
			<key>GameRoomView/mahjong/poker_face_208.png</key>
			<dict>
				<key>frame</key>
				<string>{{431,196},{70,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,93}</string>
			</dict>
			<key>GameRoomView/mahjong/poker_face_209.png</key>
			<dict>
				<key>frame</key>
				<string>{{433,99},{70,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,93}</string>
			</dict>
			<key>GameRoomView/mahjong/poker_face_300.png</key>
			<dict>
				<key>frame</key>
				<string>{{437,2},{70,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,93}</string>
			</dict>
			<key>GameRoomView/mahjong/poker_face_301.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,776},{70,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,93}</string>
			</dict>
			<key>GameRoomView/mahjong/poker_face_302.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,873},{70,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,93}</string>
			</dict>
			<key>GameRoomView/mahjong/poker_face_303.png</key>
			<dict>
				<key>frame</key>
				<string>{{429,531},{70,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,93}</string>
			</dict>
			<key>GameRoomView/mahjong/poker_face_304.png</key>
			<dict>
				<key>frame</key>
				<string>{{486,399},{70,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,93}</string>
			</dict>
			<key>GameRoomView/mahjong/poker_face_305.png</key>
			<dict>
				<key>frame</key>
				<string>{{503,293},{70,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,93}</string>
			</dict>
			<key>GameRoomView/mahjong/poker_face_306.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,196},{70,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,93}</string>
			</dict>
			<key>GameRoomView/mahjong/poker_face_307.png</key>
			<dict>
				<key>frame</key>
				<string>{{507,99},{70,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,93}</string>
			</dict>
			<key>GameRoomView/mahjong/poker_face_308.png</key>
			<dict>
				<key>frame</key>
				<string>{{511,2},{70,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,93}</string>
			</dict>
			<key>GameRoomView/mahjong/poker_face_309.png</key>
			<dict>
				<key>frame</key>
				<string>{{429,628},{70,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,93}</string>
			</dict>
			<key>GameRoomView/mahjong/poker_face_400.png</key>
			<dict>
				<key>frame</key>
				<string>{{475,725},{70,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,93}</string>
			</dict>
			<key>GameRoomView/mahjong/poker_face_401.png</key>
			<dict>
				<key>frame</key>
				<string>{{475,822},{70,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,93}</string>
			</dict>
			<key>GameRoomView/mahjong/poker_face_402.png</key>
			<dict>
				<key>frame</key>
				<string>{{475,919},{70,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,93}</string>
			</dict>
			<key>GameRoomView/mahjong/poker_face_403.png</key>
			<dict>
				<key>frame</key>
				<string>{{503,496},{70,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,93}</string>
			</dict>
			<key>GameRoomView/mahjong/poker_face_404.png</key>
			<dict>
				<key>frame</key>
				<string>{{560,390},{70,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,93}</string>
			</dict>
			<key>GameRoomView/mahjong/poker_face_405.png</key>
			<dict>
				<key>frame</key>
				<string>{{577,293},{70,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,93}</string>
			</dict>
			<key>GameRoomView/mahjong/poker_face_406.png</key>
			<dict>
				<key>frame</key>
				<string>{{579,196},{70,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,93}</string>
			</dict>
			<key>GameRoomView/mahjong/poker_face_407.png</key>
			<dict>
				<key>frame</key>
				<string>{{581,99},{70,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,93}</string>
			</dict>
			<key>GameRoomView/mahjong/poker_face_601.png</key>
			<dict>
				<key>frame</key>
				<string>{{585,2},{70,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,93}</string>
			</dict>
			<key>GameRoomView/mahjong/poker_face_602.png</key>
			<dict>
				<key>frame</key>
				<string>{{503,593},{70,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,93}</string>
			</dict>
			<key>GameRoomView/mahjong/poker_face_603.png</key>
			<dict>
				<key>frame</key>
				<string>{{549,690},{70,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,93}</string>
			</dict>
			<key>GameRoomView/mahjong/poker_face_604.png</key>
			<dict>
				<key>frame</key>
				<string>{{577,487},{70,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,93}</string>
			</dict>
			<key>GameRoomView/mahjong/poker_face_605.png</key>
			<dict>
				<key>frame</key>
				<string>{{634,390},{70,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,93}</string>
			</dict>
			<key>GameRoomView/mahjong/poker_face_606.png</key>
			<dict>
				<key>frame</key>
				<string>{{651,293},{70,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,93}</string>
			</dict>
			<key>GameRoomView/mahjong/poker_face_607.png</key>
			<dict>
				<key>frame</key>
				<string>{{653,196},{70,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,93}</string>
			</dict>
			<key>GameRoomView/mahjong/poker_face_608.png</key>
			<dict>
				<key>frame</key>
				<string>{{655,99},{70,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,93}</string>
			</dict>
			<key>GameRoomView/mahjong/side_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{188,271},{91,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,113}</string>
			</dict>
			<key>GameRoomView/mahjong/side_back_l.png</key>
			<dict>
				<key>frame</key>
				<string>{{95,536},{91,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,114}</string>
			</dict>
			<key>GameRoomView/mahjong/side_face.png</key>
			<dict>
				<key>frame</key>
				<string>{{95,760},{89,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,102}</string>
			</dict>
			<key>GameRoomView/mahjong/side_face_l.png</key>
			<dict>
				<key>frame</key>
				<string>{{188,654},{89,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,102}</string>
			</dict>
			<key>GameRoomView/mahjong/side_face_l_mark.png</key>
			<dict>
				<key>frame</key>
				<string>{{188,760},{89,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,102}</string>
			</dict>
			<key>GameRoomView/mahjong/side_face_mark.png</key>
			<dict>
				<key>frame</key>
				<string>{{234,866},{89,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,102}</string>
			</dict>
			<key>GameRoomView/mahjong/stand_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{97,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{97,133}</string>
			</dict>
			<key>GameRoomView/mahjong/stand_facd.png</key>
			<dict>
				<key>frame</key>
				<string>{{103,2},{89,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,128}</string>
			</dict>
			<key>GameRoomView/mahjong/stand_facd_mark.png</key>
			<dict>
				<key>frame</key>
				<string>{{95,404},{89,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,128}</string>
			</dict>
			<key>GameRoomView/mahjong/stand_l.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,932},{135,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{135,61}</string>
			</dict>
			<key>GameRoomView/mahjong/stand_r.png</key>
			<dict>
				<key>frame</key>
				<string>{{95,866},{135,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{135,61}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>mahjong_ui.png</string>
			<key>realTextureFileName</key>
			<string>mahjong_ui.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>