<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>GameRoomView/pokers/16.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,202},{27,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{27,175}</string>
			</dict>
			<key>GameRoomView/pokers/17.png</key>
			<dict>
				<key>frame</key>
				<string>{{290,2},{27,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{27,175}</string>
			</dict>
			<key>GameRoomView/pokers/B_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{224,405},{76,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,83}</string>
			</dict>
			<key>GameRoomView/pokers/B_16_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,236},{136,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,165}</string>
			</dict>
			<key>GameRoomView/pokers/B_17_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{142,236},{136,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,165}</string>
			</dict>
			<key>GameRoomView/pokers/B_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,115},{75,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,83}</string>
			</dict>
			<key>GameRoomView/pokers/B_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{259,115},{76,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,80}</string>
			</dict>
			<key>GameRoomView/pokers/B_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{138,405},{82,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,83}</string>
			</dict>
			<key>GameRoomView/pokers/B_FG.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{174,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{174,230}</string>
			</dict>
			<key>GameRoomView/pokers/B10.png</key>
			<dict>
				<key>frame</key>
				<string>{{341,33},{46,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,45}</string>
			</dict>
			<key>GameRoomView/pokers/B11.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,133},{21,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{21,45}</string>
			</dict>
			<key>GameRoomView/pokers/B12.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,51},{42,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,45}</string>
			</dict>
			<key>GameRoomView/pokers/B13.png</key>
			<dict>
				<key>frame</key>
				<string>{{359,197},{32,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,45}</string>
			</dict>
			<key>GameRoomView/pokers/B14.png</key>
			<dict>
				<key>frame</key>
				<string>{{469,2},{35,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{35,45}</string>
			</dict>
			<key>GameRoomView/pokers/B15.png</key>
			<dict>
				<key>frame</key>
				<string>{{396,362},{28,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,44}</string>
			</dict>
			<key>GameRoomView/pokers/B3.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,268},{29,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,45}</string>
			</dict>
			<key>GameRoomView/pokers/B4.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,233},{31,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{31,44}</string>
			</dict>
			<key>GameRoomView/pokers/B5.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,363},{28,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,44}</string>
			</dict>
			<key>GameRoomView/pokers/B6.png</key>
			<dict>
				<key>frame</key>
				<string>{{445,274},{28,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,45}</string>
			</dict>
			<key>GameRoomView/pokers/B7.png</key>
			<dict>
				<key>frame</key>
				<string>{{304,431},{28,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,43}</string>
			</dict>
			<key>GameRoomView/pokers/B8.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,310},{29,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,45}</string>
			</dict>
			<key>GameRoomView/pokers/B9.png</key>
			<dict>
				<key>frame</key>
				<string>{{445,306},{28,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,45}</string>
			</dict>
			<key>GameRoomView/pokers/M_FG.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,405},{103,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{103,132}</string>
			</dict>
			<key>GameRoomView/pokers/mark_ming.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,161},{32,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,77}</string>
			</dict>
			<key>GameRoomView/pokers/R10.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,83},{46,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,45}</string>
			</dict>
			<key>GameRoomView/pokers/R11.png</key>
			<dict>
				<key>frame</key>
				<string>{{439,33},{21,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{21,45}</string>
			</dict>
			<key>GameRoomView/pokers/R12.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,97},{42,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,45}</string>
			</dict>
			<key>GameRoomView/pokers/R13.png</key>
			<dict>
				<key>frame</key>
				<string>{{408,228},{32,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,45}</string>
			</dict>
			<key>GameRoomView/pokers/R14.png</key>
			<dict>
				<key>frame</key>
				<string>{{420,189},{35,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{35,45}</string>
			</dict>
			<key>GameRoomView/pokers/R15.png</key>
			<dict>
				<key>frame</key>
				<string>{{304,399},{28,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,44}</string>
			</dict>
			<key>GameRoomView/pokers/R3.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,359},{29,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{29,45}</string>
			</dict>
			<key>GameRoomView/pokers/R4.png</key>
			<dict>
				<key>frame</key>
				<string>{{372,233},{31,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,44}</string>
			</dict>
			<key>GameRoomView/pokers/R5.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,370},{28,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,44}</string>
			</dict>
			<key>GameRoomView/pokers/R6.png</key>
			<dict>
				<key>frame</key>
				<string>{{412,313},{28,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,45}</string>
			</dict>
			<key>GameRoomView/pokers/R7.png</key>
			<dict>
				<key>frame</key>
				<string>{{443,402},{28,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,43}</string>
			</dict>
			<key>GameRoomView/pokers/R8.png</key>
			<dict>
				<key>frame</key>
				<string>{{315,317},{29,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{29,45}</string>
			</dict>
			<key>GameRoomView/pokers/R9.png</key>
			<dict>
				<key>frame</key>
				<string>{{364,314},{28,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,45}</string>
			</dict>
			<key>GameRoomView/pokers/S_BG.png</key>
			<dict>
				<key>frame</key>
				<string>{{290,33},{47,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,62}</string>
			</dict>
			<key>GameRoomView/pokers/S_FG.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,99},{44,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,58}</string>
			</dict>
			<key>GameRoomView/pokers/vary.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,233},{38,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,38}</string>
			</dict>
			<key>GameRoomView/pokers/B_mast_mark.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,2},{106,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,109}</string>
			</dict>
			<key>GameRoomView/pokers/Y10.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,33},{46,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{46,45}</string>
			</dict>
			<key>GameRoomView/pokers/Y11.png</key>
			<dict>
				<key>frame</key>
				<string>{{439,82},{21,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{21,45}</string>
			</dict>
			<key>GameRoomView/pokers/Y12.png</key>
			<dict>
				<key>frame</key>
				<string>{{436,143},{42,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{42,45}</string>
			</dict>
			<key>GameRoomView/pokers/Y13.png</key>
			<dict>
				<key>frame</key>
				<string>{{457,238},{32,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,45}</string>
			</dict>
			<key>GameRoomView/pokers/Y14.png</key>
			<dict>
				<key>frame</key>
				<string>{{469,189},{35,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{35,45}</string>
			</dict>
			<key>GameRoomView/pokers/Y15.png</key>
			<dict>
				<key>frame</key>
				<string>{{395,394},{28,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,44}</string>
			</dict>
			<key>GameRoomView/pokers/Y3.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,281},{29,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{29,45}</string>
			</dict>
			<key>GameRoomView/pokers/Y4.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,275},{31,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{31,44}</string>
			</dict>
			<key>GameRoomView/pokers/Y5.png</key>
			<dict>
				<key>frame</key>
				<string>{{352,411},{28,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,44}</string>
			</dict>
			<key>GameRoomView/pokers/Y6.png</key>
			<dict>
				<key>frame</key>
				<string>{{331,350},{28,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,45}</string>
			</dict>
			<key>GameRoomView/pokers/Y7.png</key>
			<dict>
				<key>frame</key>
				<string>{{384,426},{28,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,43}</string>
			</dict>
			<key>GameRoomView/pokers/Y8.png</key>
			<dict>
				<key>frame</key>
				<string>{{412,264},{29,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,45}</string>
			</dict>
			<key>GameRoomView/pokers/Y9.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,338},{28,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,45}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>pokers_ui.png</string>
			<key>realTextureFileName</key>
			<string>pokers_ui.png</string>
			<key>size</key>
			<string>{512,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>