<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>smilies1501.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{53,59}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{53,59}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>smilies1502.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,67},{59,63}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{59,63}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>smilies1503.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{59,63}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{59,63}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>smilies1504.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,67},{59,63}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{59,63}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>smilies1505.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{59,63}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{59,63}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>smilies1506.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>smilies15.png</string>
            <key>size</key>
            <string>{63,187}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:945667b88c1aac3ec91ed71fc2c99c3e:1/1$</string>
            <key>textureFileName</key>
            <string>smilies15.png</string>
        </dict>
    </dict>
</plist>
