<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>smilies301.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{53,55}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{53,55}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>smilies302.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{55,59}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{55,59}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>smilies303.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,2},{53,55}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{53,55}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>smilies304.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{55,59}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{55,59}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>smilies305.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>smilies3.png</string>
            <key>size</key>
            <string>{174,59}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ef61c6214a4b368b17decbd8df73052e:1/1$</string>
            <key>textureFileName</key>
            <string>smilies3.png</string>
        </dict>
    </dict>
</plist>
