<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>smilies1301.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{53,53}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{53,53}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>smilies1302.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,2},{53,53}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{53,53}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>smilies1303.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{53,57}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{53,57}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>smilies1304.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>smilies13.png</string>
            <key>size</key>
            <string>{172,57}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:babd5db8bfc02ea57c5488476d85afb6:1/1$</string>
            <key>textureFileName</key>
            <string>smilies13.png</string>
        </dict>
    </dict>
</plist>
