<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>smilies101.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,2},{53,53}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{53,53}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>smilies102.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{53,53}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{53,53}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>smilies103.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>smilies1.png</string>
            <key>size</key>
            <string>{112,57}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:24e28fd918b8cf1c10664c58702666c3:1/1$</string>
            <key>textureFileName</key>
            <string>smilies1.png</string>
        </dict>
    </dict>
</plist>
