<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>smilies201.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{53,57}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{53,57}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>smilies202.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,2},{53,57}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{53,57}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>smilies203.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{55,57}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{55,57}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>smilies204.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>smilies2.png</string>
            <key>size</key>
            <string>{169,61}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cccc1b25f85a49a7bbcc74d21fb634eb:1/1$</string>
            <key>textureFileName</key>
            <string>smilies2.png</string>
        </dict>
    </dict>
</plist>
